# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# IDE
.idea/
*.iml
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
coverage/
.env

# Keep dependency lock file
!pubspec.lock

# iOS
ios/Pods/
ios/.symlinks/

# Android
android/app/build/
android/build/

# Symbolication
app.*.symbols
app.*.map.json